/*////////////////////
    ADMIN SECTION
////////////////////*/

body {
    background-color: #f1f1f1;
    color: #23282d;;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    width: 100%;
}

.content {
    left: 170px;
    padding: 50px 0;
    position: relative;
    top: 50px;
    width: calc(100% - 170px);
}

header {
    height: 50px;
    background-color: #23282d;
    position: fixed;
    top: 0;
    width: 100%;
}

header, aside {
    z-index: 1;
}

nav ul {
    list-style: none;
    padding: 0;
    top: 0;
    margin: 0;
}

nav ul li a {
    color: white;
    position: relative;
    text-decoration: none;
}

nav ul li a:hover {
    background: #191e23;
    color: #0073aa;
}

nav ul li a.current,
nav ul li a.current:hover {
    background: #0073aa;
    color: white;
}

header nav ul li a {
    padding: 15px 31px 15px 31px;
    position: relative;
    float: left;
}

header nav ul li a img {
    margin: 0 3px;
}

.container-main {
    position: relative;
    width: 956px;
    margin: auto;
}

aside {
    background-color: #23282d;
    color: white;
    height: 100%;
    position: fixed;
    top: 50px;
    width: 170px;
}

aside nav ul {
    padding: 0;
    position: relative;
    z-index: 1;
}

aside nav ul li a {
    float: left;
    padding: 6px 10px;
    width: 150px;
}

aside nav ul li ul li a {
    position: relative;
    left: 20px;
    width: 130px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

table tr, table td {
    padding: 10px 30px;
    text-align: center;
}

table thead td {
    border-bottom: 1px solid black;
    font-weight: bold;
}

table tbody tr:hover {
    background: white;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}

button {
    background: none;
    border: none;
}

button:hover {
    cursor: pointer;
}

.ui-dialog {
    font-size: 12px;
}

.ui-dialog form {
    width: 250px;
}

.ui-dialog fieldset {
    border: none;
}

.validateTips {
    border: 1px solid transparent;
    padding: 0.3em;
}

