/*
    ╭──────────────────────────────────────────╮
    │ ≡ Design & Front-end                     │
    ╞══════════════════════════════════════════╡
    │                                          │
    │ EVAN SUAU                                │
    ├──────────┬───────────────────────────────┤
    │ Email    │ evan.suau@etu.u-pec.fr        │
    ├──────────┼───────────────────────────────┤
    │ Location │ Sucy-en-Brie, FR              │
    ╰──────────┴───────────────────────────────╯

    ╭──────────────────────────────────────────╮
    │ ≡ Front-end & Back-end                   │
    ╞══════════════════════════════════════════╡
    │                                          │
    │ ALEX BENOIT                              │
    ├──────────┬───────────────────────────────┤
    │ Email    │ benalex75@gmail.com           │
    ├──────────┼───────────────────────────────┤
    │ Location │ Paris, FR                     │
    ╰──────────┴───────────────────────────────╯
*/

body {
    background: url(../img/airbnb-office-1.jpg) fixed no-repeat center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
}

header div a {
    position: absolute;
    color: #485160;
    background-color: #fb9e08;
    height: 155px;
    width: 200px;
    left: 34px;
    padding: 15px 5px 5px 5px;
    border-radius: 0 0 5px 5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: height 0.2s ease-in;
    -moz-transition: height 0.2s ease-in;
    -o-transition: height 0.2s ease-in;
    transition: height 0.2s ease-in;
}

header div a:hover {
    height: 165px;
}

header div a h1, h3 {
    margin: 0;
}

header div a h1 {
    text-align: right;
    font-size: 54px;
    margin: 2px 4px 0 0;
}

header div a #logo_title_rotate {
    position: absolute;
    display: table;
    margin: 0;
    top: 125px;
    left: 15px;
    text-indent: 1em;
    white-space: nowrap;
    transform: rotate(-90deg) translate(-50%, 0);
    transform-origin: 0.35em center;
}

header nav {
    background: white;
    width: 100%;
    height: 100px;
}

header nav ul {
    height: 100%;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    float: right;
    border: none;
    background: white;
}

header nav ul:before {
    content: '';
    width: auto;
    position: absolute;
}

header nav ul li {
    list-style: none;
    float: left;
    padding: 0;
    margin: 0;
    position: relative;
}

header nav ul li a {
    float: left;
    padding: 30px 39px 30px 39px;
    margin: 0;
    height: 40px;
    line-height: 40px;
    background: white;
    color: #485160;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in;
}

#nav-primary__login:before {
    content: url(../img/icons/avatar83_32px_grey.png);
    -webkit-transition: content 0.3s ease-in;
    -moz-transition: content 0.3s ease-in;
    -o-transition: content 0.3s ease-in;
    transition: content 0.3s ease-in;
}

header nav ul li #nav-primary__login:hover:before {
    content: url(../img/icons/avatar83_32px_white.png);
}

header nav ul li a:hover,
header nav ul li ul li a:hover,
header nav ul li ul li a:focus {
    background: #f46330;
    color: white;
}

li > a:after {
    content: "   \25be";
}

li > a:only-child:after {
    content: '';
}

header nav ul li ul {
    position: absolute;
    top: 100px;
    left: 0;
    border: none;
    background: white;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

header nav ul li ul:before {
    border-top: none;
}

header nav ul li ul li a {
    color: #586375;
    padding: 5px 0 5px 20px;
    margin: 0;
    height: auto;
    line-height: 30px;
    border: none;
}

header nav ul li ul li .nav-primary__link-our-rooms__sub-menu {
    width: 208px;
}

header nav ul li ul li .nav-primary__link-who__sub-menu {
    width: 246px;
}

header nav ul ul {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
}

footer {
    position: absolute;
    background: #485160;
    bottom: 0;
    width: 100%;
    height: 61px;
    margin: 0;
}

footer #social_icons {
    position: relative;
    top: 15px;
    left: 50px;
    float: left;
}

footer #social_icons a {
    margin: 0 5px 0 5px;
}

footer div #social_icons__twitter:before {
    content: url(../img/icons/twitter_32px_white.png);
}

footer div #social_icons__facebook:before {
    content: url(../img/icons/facebook2_32px_white.png);
}

footer div #social_icons__instagram:before {
    content: url(../img/icons/instagram19_32px_white.png);
}

footer div #social_icons__gplus:before {
    content: url(../img/icons/google-plus_32px_white.png);
}

footer div #social_icons__twitter:hover:before {
    content: url(../img/icons/twitter_32px_fb9e08.png);
}

footer div #social_icons__facebook:hover:before {
    content: url(../img/icons/facebook2_32px_fb9e08.png);
}

footer div #social_icons__instagram:hover:before {
    content: url(../img/icons/instagram19_32px_fb9e08.png);
}

footer div #social_icons__gplus:hover:before {
    content: url(../img/icons/google-plus_32px_fb9e08.png);
}

footer nav ul {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    border: none;
    background: #485160;
}

footer nav ul:before {
    content: '';
    width: auto;
    position: absolute;
}

footer nav ul li {
    top: 14px;
    left: 25%;
    list-style: none;
    float: left;
    padding: 0;
    margin: 0;
    position: relative;
}

footer nav ul li a {
    float: left;
    padding: 5px 8px 5px 8px;
    margin: 1px 1px 1px 1px;
    height: auto;
    line-height: auto;
    background: #485160;
    color: white;
    border-right: 1px solid white;
    text-decoration: none;
    font-size: 14px;
}

footer nav ul li:last-child a {
    border-right: none;
}

footer nav ul li a:hover {
    color: #fb9e08;
}

footer #credits_copyright {
    position: relative;
    float: right;
    margin: 0 5% 0 0;
}

footer #credits_copyright p {
    text-align: center;
    font-size: 14px;
    color: white;
}
